@model IEnumerable<Blog_DevIO.Core.ViewModels.Comments.CommentViewModel>

<section id="list-comments" class="mt-2">
    @foreach (var item in Model)
    {
        <!-- Single comment-->
        <div class="d-flex">
            <div class="ms-3">
                <div class="fw-bold">@item.Author.FistName</div>
                @item.Content
            </div>
        </div>
    }
</section>