  @model Blog_DevIO.Core.ViewModels.Comments.CreateCommentViewModel


<!-- Comment form-->
<form asp-controller="comments" asp-action="create" class="mb-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="PostId" />
        <textarea asp-for="Content" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!">        
    </textarea>
        <span asp-validation-for="Content" class="text-danger mt-1"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" class="btn btn-primary" value="Save">
    </div>
</form>